<a href="https://colab.research.google.com/github/SakshamTripathi1996/Data-Science/blob/main/Saksham_Hotel_Booking_Analysis_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <b> Have you ever wondered when the best time of year to book a hotel room is? Or the optimal length of stay in order to get the best daily rate? What if you wanted to predict whether or not a hotel was likely to receive a disproportionately high number of special requests? This hotel booking dataset can help you explore those questions!

## <b>This data set contains booking information for a city hotel and a resort hotel, and includes information such as when the booking was made, length of stay, the number of adults, children, and/or babies, and the number of available parking spaces, among other things. All personally identifying information has been removed from the data. </b>

## <b> Explore and analyze the data to discover important factors that govern the bookings. </b>

In [1]:
# Improting Important Libraries

import pandas as pd
import numpy as np
import datetime 
from time import strftime
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
# Mounting Drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
# Importing Data
data=pd.read_csv('/content/drive/MyDrive/Copy of Hotel Bookings.csv')

In [142]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 79069 entries, 0 to 119389
Data columns (total 33 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   hotel                           79069 non-null  object
 1   is_canceled                     79069 non-null  int64
 2   lead_time                       79069 non-null  int64
 3   arrival_date_year               79069 non-null  int64
 4   arrival_date_month              79069 non-null  object
 5   arrival_date_week_number        79069 non-null  int64
 6   arrival_date_day_of_month       79069 non-null  int64
 7   stays_in_weekend_nights         79069 non-null  int64
 8   stays_in_week_nights            79069 non-null  int64
 9   adults                          79069 non-null  int64
 10  children                        79069 non-null  int64
 11  babies                          79069 non-null  int64
 12  meal                            79069 non-null  object
 13  country                         79069 non-null  object
 14  market_segment                  79069 non-null  object
 15  distribution_channel            79069 non-null  object
 16  is_repeated_guest               79069 non-null  int64
 17  previous_cancellations          79069 non-null  int64
 18  previous_bookings_not_canceled  79069 non-null  int64
 19  reserved_room_type              79069 non-null  object
 20  assigned_room_type              79069 non-null  object
 21  booking_changes                 79069 non-null  int64
 22  deposit_type                    79069 non-null  object
 23  agent                           79069 non-null  int64
 24  company                         79069 non-null  int64
 25  days_in_waiting_list            79069 non-null  int64
 26  customer_type                   79069 non-null  object
 27  Average_day_Rate                79069 non-null  float64
 28  required_car_parking_spaces     79069 non-null  int64
 29  total_of_special_requests       79069 non-null  int64
 30  reservation_status              79069 non-null  object
 31  reservation_status_date         79069 non-null  datetime64[ns]
 32  Target                          79069 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(20), object(11)
memory usage: 22.5+ MB

In [141]:
# changing dtype to its correct dtype
data['reservation_status_date']=pd.to_datetime(data['reservation_status_date']).dt.date.astype('datetime64[ns]')
data['children']=data['children'].astype(int)
data['company']=data['company'].astype(int)
data['agent']=data['agent'].astype(int)

In [ ]:
data.shape

(119390, 32)

In [97]:
# Changing Column names 
data=data.rename(columns={'adr':'Average_day_Rate'})

In [ ]:
#bb-bed and breakfast
#hb-half board-breakfast and dinner
#fb-full board -linch breakfat dinner
#sc-self catering - no meals

In [62]:
# Filling Null Values
nullv={'children':0,'agent':0,'country':'unknown','company':0}
data=data.fillna(nullv)

In [69]:
'''Univariate Analysis
1. Which agent made most of bookings
2.Which Room Type is in most demands and which room type generate highest adr?
3.From which country most of the customers comming?
4.what is the most preferred meal by customers?'''

'Univariate Analysis\n1. Which agent made most of bookings\n2.Which Room Type is in most demands and which room type generate highest adr?\n3.From which country most of the customers comming?\n4.what is the most preferred meal by customers?'

In [81]:
# Dropping Duplicates
data.duplicated().value_counts()
data.drop_duplicates(keep=False,inplace=True)

False    87396
True     31994
dtype: int64

Dropping Columns

In [109]:
# Dropping Data which  does not make any sense.
data[data['children']+data['babies']+data['adults']==0].shape
data.drop(data[data['children']+data['babies']+data['adults']==0].index,inplace=True)

From which country most guests come?

In [136]:
a=data.groupby('country')['hotel'].count().sort_index(ascending=True)

In [125]:
data[['country','hotel']].value_counts()

country  hotel
PRT      Resort Hotel    13181
         City Hotel      10992
FRA      City Hotel       6763
GBR      Resort Hotel     5451
         City Hotel       4097
                         ...
PLW      Resort Hotel        1
FJI      Resort Hotel        1
SYR      Resort Hotel        1
TGO      City Hotel          1
KIR      City Hotel          1
Length: 290, dtype: int64

In [170]:

data.groupby('country').size().sort_values(ascending=False)[:10]

country
PRT    24173
GBR     9548
FRA     8092
ESP     6717
DEU     4793
IRL     2845
ITA     2730
BEL     1905
BRA     1838
NLD     1771
dtype: int64